body
{font-family: 'MMC-OFFICE', sans-serif;font-size: 16px;font-weight: 400;color: black;position: relative;margin: 0px;padding: 0px;background: white url(../img/bg1.jpg) center 130px no-repeat;}
* {box-sizing:border-box;}
button,input { cursor:pointer; font-family: 'Arial', sans-serif; }

img {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    align-self: center;
}
rub
{
	font-family:Arial;
}
rub:before
{
	content:"\20BD";
}

.container {
    margin: 0px auto;
    max-width: 1140px;
    position: relative;
    padding: 0px 15px;
}



/*::-webkit-input-placeholder {
   text-align: center; color:#fa1934;
}
:-moz-placeholder {
   text-align: center;  color:#fa1934;
}
::-moz-placeholder {
   text-align: center;  
}
:-ms-input-placeholder {  
   text-align: center; color:#fa1934;
}*/


input[type=text],
input[type=phone],
input[type=email],
input[type=tel],
input[type=mail],
select
{
	font-family: 'MMC-OFFICE', sans-serif;
	font-weight: 600 !important;
	color: black !important;
	background: white;
	height: 46px;
	border: 0px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	border: 1px solid #aaaaaa;
}
/*select
{
	border:1px solid #c2b9af;
	background: #f4f4f4 url("../img/icon.select.bg.png") right center no-repeat !important;
	appearance: none;-moz-appearance: none;-webkit-appearance: none;cursor: pointer;
}*/

button,
input[type=submit]
{
}



form {
}
form .form-group {
    margin-bottom: 8px;
    position: relative;
}

form .form-group input[type=text], form select {height: 42px;width: 100%;border: 1px solid #000000;padding: 0px 40px;color: black;font-size: 16px;padding-left: 26px;font-weight: 400;box-sizing: border-box;outline: none;background: #f4f4f4;text-align: center;}
form .form-group button {width: 100%;outline: none;cursor: pointer;font-size: 14px;text-transform: uppercase;}
form .form-group button:hover {}

.form_title {color: white;font-size: 36px;text-transform: uppercase;padding: 0px;margin: 0px;text-align: center;padding-bottom: 47px;}
.form_title span {
    
    white-space: nowrap;
    padding-top:  10px;
}


.form_disclamer {
    color: #b8b8b8;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}

.form_disclamer a {
    color: inherit;
}

.has-danger input,
.has-danger select,
.has-danger textarea
{
    border-color: #eba5a3!important;
    border-width:2px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #eba5a3;
    border: 3px solid #da0025 !important;
}


#form_popup,#form_popup2 { display:none; }
.popup_container 
{
    width: 600px;
    max-width: 100%;
    padding: 21px 29px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    padding: 40px 60px;
}
.popup_container h2
{
	font-size: 24px;
	font-weight: 600;
	text-transform: none;
	color:black;
	padding: 0px;
	margin: 0px;
	padding-bottom: 17px;
}
.popup_container .fancybox-button svg { color:black; }
.popup_container .close
{
	position:absolute;
	right:10px;top:10px;
	width:34px;
	height:34px;
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor:pointer;
}
.popup_container .close:before
{
	content:'';
	position:absolute;
	left:0px;top:16px;
	width:34px;height:1px;
	display:block;
	background-color:#a8a8a8;
}
.popup_container .close:after
{
	content:'';
	position:absolute;
	left:16px;top:0px;
	width:1px;height:34px;
	display:block;
	background-color:#a8a8a8;
}

.popup_container .form-group input[type=text] 
{
	border: 0px solid #0277bd;
	width: 100%;
	box-sizing: border-box;
	font-size: 14px;
	border:0px;
}
.popup_container .form-group button {width: 100%;}


a {
    color: black;
    text-decoration: none;
}
a:hover {}

.button1
{
    height: 16px;
    color: white;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #eb0000;
    border: 0px solid white;
    display: inline-flex;
    height: 46px;
    align-items: center;
    text-align: center;
    padding: 2px 10px;
    justify-content: center;
    transition: all 0.2s ease;
    position:relative;
    border-radius: 0px;
    max-width: 100%;
}
.button1:hover 
{
	background: #861020;
	border-color: #861020;
}

.button1:before
{ content:''; }

.button1:after
{content:'';}


/*gray*/
.button1.gray
{background: #979797;color: white;border: 1px solid #979797;}
.button1.gray:hover
{
    background: #5f5e5e;
    color: white;
}
.button1.gray:before
{ content:''; }
.button1.gray:after
{content:'';display: none;}
.button1.gray:hover:before
{ content:''; }
.button1.gray:hover:after
{content:'';background-color:  #e44210;}


/*white*/
.button1.white
{background: white;color: #eb0000;border: 1px solid white;}
.button1.white:hover
{
	background: transparent; border: 3px solid white;
    color: white;
}
.button1.white:before
{ content:''; }
.button1.white:after
{content:'';display: none;}
.button1.white:hover:before
{ content:''; }
.button1.white:hover:after
{content:'';background-color:  #e44210;}


form {
}
form .form-group {
    margin-bottom: 11px;
    position: relative;
}
.form_title
{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 14px;
    
}
.form_title div
{}
.form_title span {
}
.form_title b
{
    font-size: 16px;
}



.agree_field {
    display: block;
    align-items: center;
    vertical-align: middle;
    padding: 10px 0px;
    font-size: 12px;
    width: 100%;
    text-align: left;
    color: white;
}
.popup_container .agree_field  {color:black;margin-left: 0;width: 100%;margin-top: -8px;}
.popup_container .agree_field a { color:black; text-decoration:underline; }

.agree_field input {
    margin-right: 10px !important;
    vertical-align: middle !important;
    height: 14px !important;
    margin-top: 0px !important;
}
form.popup_on .agree_field input {width:auto !important;min-width: 0px !important;}

.agree_field a {
    color: white;
    border-bottom: 1px dashed white;
    text-decoration: none;
}

form.not_agree input[type="submit"],form.not_agree button[type="submit"],form.not_agree a.submit {
	background: #cccccc !important;
	border-color: #cccccc !important;
	cursor: auto !important;
	color: black !important;
}







.title1
{
    font-size: 24px;
    text-align: left;
    font-weight: 700;
    color: black;
    padding-top: 28px;
    /* line-height: 140%; */
    text-align: center;
    display: block;
}
.title1:before {
    content: '';
    width: 73%;
    /* border-top: 1px solid white; */
    display: block;
    padding-top: 9px;
}
.title1:after {
    content: '';
    /* border-bottom: 1px solid white; */
    display: block;
    padding-top: 7px;
    width: 100%;
}
.title1 span
{}
.title1 b
{}
.title1 strong
{}

.title2
{
    font-size: 40px;
    text-align: left;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
}
.title2 span
{}
.title2 b
{}
.title2 strong
{}




.disclamer_switch {}
.disclamer {}
.disclamer p {}








#map1
{
    width: 1318px;
    max-width:100%;
    height: 450px;
    margin-bottom: 40px;
    background: url(../img/map.jpg) 50% 0px no-repeat;
    z-index: 1;
    order: 1;
    position: relative;
}

/*ymaps[class*="-ground-pane"]
{
	filter: grayscale(100%); 
}*/
/*ymaps[style*="balloon.png"] 
{
-webkit-animation: shadow 1500ms infinite linear;
    animation: shadow 1500ms infinite linear;
	filter: grayscale(50%); 
}*/





.disclamer_switch {
    color: black;
    text-decoration: underline;
    font-size: 12px;
    line-height: 100%;
    display: inline-block;
    text-decoration: underline;
    padding-top: 60px;
    text-align: center;
    width: 100%;
}
.disclamer 
{
	font-size:10px;
	display: none;text-align: left;
    color: #7b7b7b;
}

body.compensate-for-scrollbar
{     overflow:unset !important; margin-right:0px !important; }


/*========================================================================================================================
//========================================================================================================================
//==== ÃƒÂÃ‹Å“ÃƒÂÃ¢â‚¬â€ÃƒÂÃ…â€œÃƒÂÃ¢â‚¬Â¢ÃƒÂÃ‚ÂÃƒÂÃ‚Â¯ÃƒÂÃ¢â‚¬Â¢ÃƒÂÃ…â€œÃƒÂÃ‚ÂÃƒÂÃ‚Â¯ ÃƒÂÃ‚Â§ÃƒÂÃ‚ÂÃƒÂÃ‚Â¡ÃƒÂÃ‚Â¢ÃƒÂÃ‚Â¬ ==================================================================================================
//======================================================================================================================*/



header {
    position: relative;
}
header .row1 {
    padding: 24px 0px;
    background: white;
}
header .row1 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .row1 .logo1 {}
header .row1 .logo1:before{ content:''; }
header .row1 .logo1:after{ content:''; }
header .row1 .logo1:hover {}
header .row1 .logo1 img {}
header .row1 .logo2 {}
header .row1 .logo2:before{ content:''; }
header .row1 .logo2:after{ content:''; }
header .row1 .logo2:hover {}
.logo2 img {width: 150px;}
header .row1 .addr.anchor {
    color: #989da5;
    background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAbCAMAAACtKJSuAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEWXnqf///+XnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqeXnqf///+bezRmAAAAEHRSTlMAAEQRu91mmczudyJViDOqVvi0KwAAAAFiS0dEAf8CLd4AAAAHdElNRQfjBxAWMyhnSFoLAAAApUlEQVQY012QWwKFIAhEQRRNe7j/1SZOkffOh9GRaAYiKARBwXiNfSipk9wfFQGJ3bWJkdoXlUHavFOhvVilTIc9TxsnyZp4Tsn4sdolk507iFgdCCeE2j6uACdGXuYWxJxujHHZB+fhMM1MtcJ64+fq1WUpZFtImEmXYBHZ20f0fz/p3Zg3Vd9q9H35nkGOb/Nw2dtCvigvmU3nD6nT3Uoo6FPwDUuvDfug2KMQAAAAAElFTkSuQmCC) left center no-repeat;
    padding-left: 26px;
}
header .row1 .addr.anchor:before{ content:''; }
header .row1 .addr.anchor:after{ content:''; }
header .row1 .addr.anchor:hover {}
header .row1 .addr.anchor br {}
header .row1 .phone {
    color: #eb0000;
    font-size: 18px;
    font-weight: 600;
    background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAWBAMAAAAP/cBTAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAMFBMVEX////bDibbDibbDibbDibbDibbDibbDibbDibbDibbDibbDibbDibbDibbDib///8mPtiEAAAADnRSTlMAVZkRRHciu+7dzDOqiErnqhgAAAABYktHRACIBR1IAAAAB3RJTUUH4wcQFjIpCVRb3AAAAFVJREFUCNdVjbsJgEAAQ6MixxWKuIJ7OIsTOJa1K/lBROTN4OU6m9ckeZF6BlWwqYBTNVwq4VDg7hRZpJY14ZE0v8b+h4ORyb1Ujp4FCxqrsjTrffQBD18qU2tioIMAAAAASUVORK5CYII=) left center no-repeat;
    padding-left: 17px;
}
header .row1 .phone:before{ content:''; }
header .row1 .phone:after{ content:''; }
header .row1 .phone:hover {}
header .row1 .button1 {
    height: 35px;
    min-width: 213px;
}
header .row1 .button1:before{ content:''; }
header .row1 .button1:after{ content:''; }
header .row1 .button1:hover {}
header .row1 .mobile-button {}
header .row1 .mobile-button:before{ content:''; }
header .row1 .mobile-button:after{ content:''; }
header .row1 .mobile-button:hover {}
header .row1 .mobile-button span {}
header .row2 {
    background: #eb0000;
}
header .row2 .container {}
header .row2 .menu {
    display: flex;
    align-items: center;
}

header .row2 a
{
    color: white;
    padding: 12px 20px;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    transition: all 0.3s;
}
header .row2 a:hover
{
    background-color: #861020;
}
header .row2 .menu .submenu {
}
header .row2 .menu .submenu:before{ content:''; }
header .row2 .menu .submenu:after{ content:''; }
header .row2 .menu .submenu:hover {}
header .row2 .menu .anchor {}
header .row2 .menu .anchor:before{ content:''; }
header .row2 .menu .anchor:after{ content:''; }
header .row2 .menu .anchor:hover {}
header .row3 {
    background: white;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    top: 130px;
    width: 100%;
    display: none;
	z-index:2;
}
header .row3 .container {
    padding-top: 3px;
    padding-bottom: 3px;
}
header .row3 .anchor {
    padding: 3px 5px;
    display: inline-block;
    font-weight: 600;
}
header .row3 .anchor:before{ content:''; }
header .row3 .anchor:after{ content:''; }
header .row3 .anchor:hover {
    color: #eb0000;
}
header .row3.show { display:block; }

.block1 {
    margin-top: 20px;
    height: 628px;
}
.block1 sup { font-weight:400; }
.block1 .container {
    display: flex;
}
.block1 .title_wrap {
    text-align: center;
    padding: 25px 90px;
    display: inline-block;
    margin: 0 auto;
}
.block1 .title_wrap .title1 {
    /*display: none;*/
    color:white;
    margin-top: 0px;
    padding-top: 0px;
}
.block1 .title_wrap .title2 {
    color: white;
	font-size:40px;
}
.block1 .title_wrap .title2 br {}
.block1 .title_wrap .button1 {
    margin: 0 auto;
    display: inline-flex;
    width: 300px;
    max-width: 100%;
    margin-top: 15px;
}
.block1 .title_wrap .button1:before{ content:''; }
.block1 .title_wrap .button1:after{ content:''; }
.block1 .title_wrap .button1:hover {}
.block2 {
    background: #979797;
}
.block2 .container {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.block2 .button1{
    width: 100%;
    border: 1px solid white;
    border-top: 0px;
    border-bottom: 0px;
}
.block2 .button1:before{ content:''; }
.block2 .button1:after{ content:''; }
.block2 .button1:hover {
}


.block2 .button1.zvon {
}
.block2 .button1.zvon:before{content:'';background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJGTSz5ElEAAAA5UlEQVQoz3WSPUtDMRhGT52LFISCi8O1IHUsXBz9WpQOjkKnQqmu7eqqYH+Li1N3/4AuDoqgQieXCo4V5Tgk3t62tydDEjjJ+7whiF1H3rslxQOPDXxZKVZKvpIQuGOff2pssMYPt4ATp+xmZy9VHYus8MaUZpzXOQJgCICD7I6xqYjbfqv6aTfErWbKYSyyqeqJFctBwauoNLIkdffyTSOOVB0ue5dQPXC2XMHTKJ3H/aptd2YV7EfpxgNTX+K6nFew5yLvJrN1WwXS83y41Kd5Z7GDktf+5oyL4j+SOPDBDx/tyB/29GZRxzRn3wAAAABJRU5ErkJggg==) left center no-repeat;width: 17px;height: 17px;display: block;margin-right: 10px;}
.block2 .button1.zvon:after{ content:''; }
.block2 .button1.zvon:hover {}
.block2 .button1.gray.obmen {}
.block2 .button1.gray.obmen:before{content:'';background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJHADvJ0m0AAAA7klEQVQoz9WSL0tDcRhGz+/nLQaHRmFTw8LiPsaCDLQoWERMphmNK/oJZBhtJuv0U1gdiFPQCwpDVFDw3zHcO7cbBKvnrecpz/Mi4qoXLoqTvjiiLdkFYYljABqcss00AoE6TTpsAeCGemvqnboyzIq4p86LoB5Z9dGyJ2oYkyrqskhCjR51SiQ0qCEjZoAPgEgPmAUqwDnjTEAWipD77/xK5A/8NynJa8ilCHwWhAUgBe6BufiTeShIfbq88syADtfZSmV1tzDumnpl6qXaSgC44YAdqpzxRSDwxD4DugCsc1h8jCFvTolN+26KfAM9N56UiEowNgAAAABJRU5ErkJggg==) left center no-repeat;width: 17px;height: 17px;display: block;margin-right: 10px;}
.block2 .button1.gray.obmen:after{ content:''; }
.block2 .button1.gray.obmen:hover {}
.block2 .button1.gray.vig_kred {}
.block2 .button1.gray.vig_kred:before{content:'';background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPCAQAAACouOyaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJHRNygjkrAAAAqElEQVQoz3XQUZHDMAwEUE0ZlEIohEIolEIotBBKIRRCoRRMwRR6EN59WImTyZ1/pNWsVruO+PNZwbTB2Rc8d8LjhBPqQ3cVpUuWBq3b2ALGTqlYIjwhwgTeR2MFNVVqrtSz9/noxfuUJC6JjGAx+rTu+hsF1ZArV1Iz7JF1yHrvhAGsGfq7Z5tuO2eJiJ94xX8vRedDfz6UBj9xRLbDbdgiDrvmqPQ8v11i+5HyX3GFAAAAAElFTkSuQmCC) left center no-repeat;width: 17px;height: 17px;display: block;margin-right: 10px;}
.block2 .button1.gray.vig_kred:after{ content:''; }
.block2 .button1.gray.vig_kred:hover {}
.block2 .button1.gray.td {}
.block2 .button1.gray.td:before{content:'';background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJHTDQ5UhZAAABNElEQVQoz23RTUuUARQF4DNaY5IwIAlCmxYuBHURjElE2kZo5W+Q/CEFbv0BShC4KwIhS0wS8mMWgS5rFRSBLSrCj0WOOfG0mPcdW3QP3Ms593Lh3hMpMOGZ36BlxZ1Sb5duq2DPkkXvwGuXy4GqumPP9Xe29VlyZNKV9sCapu5O8wIntiVG8eQ/7ZjHrYoXmUlPqpnMTOqppZLT7GcluzlKKzvxBd/N2gcPzDpHw5yf+HoptfzKQAbTlWQs75M08jFnGUh/TnO1K7Us52Y20kryJ+nkzYxnMbVgT8SIzw5MGPfJgTER28QriiOvKeN6cQdbMYLVQpj20CP3C/YU9YgNrUIasmDBcMGaGu1P9rrtm2W9BsENVY/9MKWvNKviDfjwT357YVYbd73UdOjQmXX3Sv0vwgs3p0YKGBsAAAAASUVORK5CYII=) left center no-repeat;width: 17px;height: 17px;display: block;margin-right: 10px;}
.block2 .button1.gray.td:after{ content:''; }
.block2 .button1.gray.td:hover {}


.cars {margin-top: 0px;}


.cars .items2 .item { position:relative; }
.cars .car_year:before
{
    content: '';
    background: url(../img/car_year.png) left top no-repeat;
    width: 112px;
    background-size: 100%;
    height: 41px;
    display: block;
    position: absolute;
    top: 37px;
    left: 0px;
}

.cars .container {}
.cars .title1 {
    padding-bottom: 34px;
}

.cars .items1 {
    display: flex;
    justify-content: space-between;
}

.cars .items1 a:nth-child(1) { margin-left:0px; }
.cars .items1 a {border: 1px solid #727272;text-transform: uppercase;font-weight: 700;color:#727272;width: 100%;margin-left: 11px;height: 33px;display: flex;align-items: center;justify-content: center;transition: all 0.2s ease;}
.cars .items1 a:before{ content:''; }
.cars .items1 a:after{ content:''; }
.cars .items1 a:hover {
    color: #eb0000;
    border-color: #eb0000;
}
.cars .items1 a.active {
    background: #eb0000;
    color: white;
    border-color: #eb0000;
}

.cars .items2 { margin-top:51px; }
.cars .items2 .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 33px;
    background: url(../img/car.ramka.png) 206px center no-repeat;
}
.cars .items2 .item .column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 38%;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    /* background: url(../img/car.ramka.png) right 18px bottom 17px no-repeat; */
    min-height: 280px;
    position: relative;
}
.cars .items2 .item .column1 .name {
    /*font-weight: 700;*/
    font-size: 32px;
    position: absolute;
    left: 0px;
    bottom: 239px;
}
.cars .items2 .item .column1 .name:before{ content:''; }
.cars .items2 .item .column1 .name:after{ content:''; }
.cars .items2 .item .column1 .name:hover {}
.cars .items2 .item .column1 .image-wrap {
}
.cars .items2 .item .column1 .image-wrap:before{ content:''; }
.cars .items2 .item .column1 .image-wrap:after{ content:''; }
.cars .items2 .item .column1 .image-wrap:hover {}
.cars .items2 .item .column1 .image-wrap img {}
.cars .items2 .item .column2 {
    width: 30%;
    border-right: 4px solid #f2f2f2;
}
.cars .items2 .item .column2 .cost {
    font-weight: 700;
    font-size: 18px;
    color: #eb0000;
    margin-bottom: 16px;
    display: block;
}
.cars .items2 .item .column2 .cost:before{ content:''; }
.cars .items2 .item .column2 .cost:after{ content:''; }
.cars .items2 .item .column2 .cost:hover {}
.cars .items2 .item .column2 .cost b {
    font-size: 28px;
}
.cars .items2 .item .column2 .dop_items {}
.cars .items2 .item .column2 .dop_items .dop_item {
    display: block;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
}
.cars .items2 .item .column2 .dop_items .dop_item:before{content:'';width: 20px;height: 20px;background: #eb0000;border-radius: 100px;display: block;position: absolute;left: 0px;}
.cars .items2 .item .column2 .dop_items .dop_item:after{content:'';border-top: 2px solid white;border-right: 2px solid white;width: 6px;height: 6px;display: block;position: absolute;z-index: 2;left: 5px;top: 6px;transform: rotate(45deg);}
.cars .items2 .item .column2 .dop_items .dop_item:hover {}
.cars .items2 .item .column2 .dop_items .dop_item strong {}
.cars .items2 .item .column2 .dop_items .dop_item b {}
.cars .items2 .item .column3 {
    width: 28%;
}
.cars .items2 .item .column3 .vigoda {
    white-space: nowrap;
}
.cars .items2 .item .column3 .vigoda span {
    color: #979797;
    display: block;
    font-weight: 700;
}
.cars .items2 .item .column3 .vigoda b {
    font-size: 65px;
    color: #eb0000;
    font-weight: 700;
}
.cars .items2 .item .column3 .vigoda p {
    font-size: 25px;
    color: #eb0000;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    display: inline;
}
.cars .items2 .item .column3 .button1 {
    width: 100%;
    margin-top: 10px;
}
.cars .items2 .item .column3 .button1:before{ content:''; }
.cars .items2 .item .column3 .button1:after{ content:''; }
.cars .items2 .item .column3 .button1:hover {background: #d91731;}
#filter_table { margin-top:100px; }
#filter_table .select_container {}
.resp_table .head {}
.resp_table.tb_complects.resp_table1 { 	border-spacing: 0px; }
.resp_table.tb_complects.resp_table1 td {
    font-size: 25px;
    padding:27px 18px;
    width: 25%;
}
.resp_table.tb_complects.resp_table1 tr:hover td {
	background:#f2f2f2;
	border-spacing: 0px;
}
.resp_table.tb_complects.resp_table1 td .model {
}
.resp_table.tb_complects.resp_table1 td .complect{
}
.resp_table.tb_complects.resp_table1 td .engine {
	color:#eb0000; font-size:20px;
}
.resp_table.tb_complects.resp_table1 td .button1
{
	min-width:320px;
	max-width:100%;
}

.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .model {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_ceed {}
.resp_table.tb_complects.resp_table1 .car_ceed td {}
.resp_table.tb_complects.resp_table1 .car_ceed td .model {}
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .model {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .model {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .model {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .model {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_sorento {}
.resp_table.tb_complects.resp_table1 .car_sorento td {}
.resp_table.tb_complects.resp_table1 .car_sorento td .model {}
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_optima {}
.resp_table.tb_complects.resp_table1 .car_optima td {}
.resp_table.tb_complects.resp_table1 .car_optima td .model {}
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_rio {}
.resp_table.tb_complects.resp_table1 .car_rio td {}
.resp_table.tb_complects.resp_table1 .car_rio td .model {}
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_stinger {}
.resp_table.tb_complects.resp_table1 .car_stinger td {}
.resp_table.tb_complects.resp_table1 .car_stinger td .model {}
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_quoris {}
.resp_table.tb_complects.resp_table1 .car_quoris td {}
.resp_table.tb_complects.resp_table1 .car_quoris td .model {}
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_mohave {}
.resp_table.tb_complects.resp_table1 .car_mohave td {}
.resp_table.tb_complects.resp_table1 .car_mohave td .model {}
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue span {}
style {}
.tb_complects_showmore {}
.tb_complects_showmore:before{ content:''; }
.tb_complects_showmore:after{ content:''; }
.tb_complects_showmore:hover {}
.block3 {
    margin-bottom: 90px;
    margin-top: 40px;
}
.block3 .container {}
.block3 .title1 {}
.block3 .items {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.block3 .items a {
    width: 18%;
    font-weight: 600;
    font-size: 12px;
    border: 5px solid #f2f2f2;
    min-height: 160px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    text-align: center;
}
.block3 .items a:hover {}
.block3 .items a:before {content:'';display: block;width: 65px;height: 86px;}
.block3 .items .item1 {}
.block3 .items .item1:before{content:'';background: url(../img/advantages/ico1.png) center center no-repeat;padding-top: 0px;box-sizing: border-box;}
.block3 .items .item1:after{ content:''; }
.block3 .items .item1:hover {}
.block3 .items .item1:hover:before {opacity: .6;}
.block3 .items .item1 br {}
.block3 .items .item2 {}
.block3 .items .item2:before{content:'';background: url(../img/advantages/ico2.png) center center no-repeat;}
.block3 .items .item2:after{ content:''; }
.block3 .items .item2:hover {}
.block3 .items .item2:hover:before {opacity: .6;}
.block3 .items .item2 br {}
.block3 .items .item3 {}
.block3 .items .item3:before{content:'';background: url(../img/advantages/ico3.png) center center no-repeat;}
.block3 .items .item3:after{ content:''; }
.block3 .items .item3:hover {}
.block3 .items .item3:hover:before {opacity: .6;}
.block3 .items .item3 br {}
.block3 .items .item4 {}
.block3 .items .item4:before{content:'';background: url(../img/advantages/ico4.png) center center no-repeat;}
.block3 .items .item4:after{ content:''; }
.block3 .items .item4:hover {}
.block3 .items .item4:hover:before {opacity: .6;}
.block3 .items .item4 br {}
.block3 .items .item5 {}
.block3 .items .item5:before{content:'';background: url(../img/advantages/ico5.png) center center no-repeat;}
.block3 .items .item5:after{ content:''; }
.block3 .items .item5:hover {}
.block3 .items .item5:hover:before {opacity: .6;}
.block3 .items .item5 br {}
.block3 .items .item6 {}
.block3 .items .item6:before{content:'';background: url(../img/advantages/ico6.png) center center no-repeat;}
.block3 .items .item6:after{ content:''; }
.block3 .items .item6:hover {}
.block3 .items .item6:hover:before {opacity: .6;}
.block3 .items .item6 br {}
.block4 {
    background: url(../img/block4.bg.jpg) center center no-repeat;
    min-height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 50px;
}
.block4 .container {
    /* text-align: center; */
}
.block4 .title1 {
    display: none;
}
.block4 .name {
    font-size: 24px;
    font-weight: 600;
}
.block4 p {
    margin: 0px;
    padding: 16px 20px;
    margin-bottom: 9px;
}
.block4 p br {}
.block4 .items {
    display: flex;
}
.block4 .items .item {font-size: 10px;font-weight: 700;color: #e29b98;margin-right: 30px;}
.block4 .items .item b {
    display: block;
    font-size: 36px;
    font-weight: 600;
    color: white;
    margin-bottom: 5px;
}
.block4 .items .item br {}
.block4 .items .item b span {
    font-size: 16px;
    font-weight: 600;
}
.block4 .button1.white {
    min-width: 290px;
    margin: 0 auto;
    display: inline-flex;
    justify-self: flex-end;
    align-self: flex-end;
}
.block4 .button1.white:before{ content:''; }
.block4 .button1.white:after{ content:''; }
.block4 .button1.white:hover {  }
.block4 center {text-align:center;width: 480px;margin-top: 34px;}

.block5 {
    background: url(../img/block5.bg.jpg) center center no-repeat;
    min-height: 451px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 40px;
}
.block5 .container {
    display: flex;
    justify-content: flex-end;
}
.block5-wrap
{}
.block5 .title1 {
    display: none;
}
.block5 .name {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
}
.block5 .name br {}
.block5 p {
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 16px 20px;
}
.block5 p br {}
.block5 p .phone {
    font-size: 20px;
    color: white;
}
.block5 p .phone:before{ content:''; }
.block5 p .phone:after{ content:''; }
.block5 p .phone:hover {}
.block5 .button1.white {
    width: 298px;
}
.block5 .button1.white:before{ content:''; }
.block5 .button1.white:after{ content:''; }
.block5 .button1.white:hover {}
.contacts {
    margin-top: -448px;
    margin-bottom: 60px;
    background: #eb0000;
    pointer-events:none;
}
.contacts .container {
    display: flex;
    justify-content: flex-end;
}
.contacts .column1 {
    background: #eb0000;
    width: 540px;
    padding: 0px 101px;
    color: white;
    font-weight: 300;
    padding-bottom: 50px;
    pointer-events:all;
    position: relative;
    z-index: 2;
}
.contacts .column1 .title1 {
    color: white;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 7px;
}
.contacts .column1 .addr {
}
.contacts .column1 .worktime {
    margin-bottom: 3px;
}
.contacts .column1 .phone {
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.contacts .column1 .phone:before{ content:''; }
.contacts .column1 .phone:after{ content:''; }
.contacts .column1 .phone:hover {}
.contacts .text-wrap {
    white-space: nowrap;
    margin-bottom: 7px;
    padding: 16px 20px;
}
.contacts .column1 br {}
.contacts .column1 form {}
.contacts .column1 form input {}
.contacts .column1 form .form-title {
    display: none;
}
.contacts .column1 form .form-group {}
.contacts .column1 form .form-group label {}
.contacts .column1 form .form-group .phone.form-control.nacc {
    background: transparent;
    color: white !important;
}
.contacts .column1 form .flashformsubmit.button1.white {}
.contacts .column1 form button { height:46px; width:100%; }
.contacts input[name=phone] {background:transparent;border: 1px solid white;transition:all 0.5s;}
.contacts input[name=phone]:hover,
.contacts input[name=phone]:active,
.contacts input[name=phone]:focus
{ background:white;  outline: 0;}


.contacts input::-webkit-input-placeholder {
   text-align: center; color:white;
}
.contacts input:-moz-placeholder { /* Firefox 18- */
   text-align: center;  color:white;
}
.contacts input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center; color:white;
}
.contacts input:-ms-input-placeholder {  
   text-align: center; color:white;
}







































