@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
    padding: 0px;
    margin-top: 0px;
  }
}

















@media (max-width: 1800px)
{
}


@media (max-width: 1700px)
{
}

@media (max-width: 1400px)
{
}

@media (max-width: 1240px)
{
}


/*IPAD PRO BEGIN*/
@media (min-width: 768px) and (max-width: 1199px)
{
.block1 .title_wrap .title2 br { }
.block1 .title_wrap { padding: 25px 30px; }
.block1 .title_wrap .button1 {  }
.block1 .title_wrap .title2 { font-size:38px; }

	header .row1 .container { flex-wrap:wrap; justify-content:space-between; }
	header .row2 .menu { flex-wrap:wrap; justify-content: space-between; }
header .row2 .container {
    padding: 0px;
    width: 100%;
}
	.cars .items2 .item { background: url(../img/car.ramka.png) 16px center no-repeat; }
	.cars .items2 .item .column1 { width:32%; }
	.cars .items2 .item .column2 { border-right:0px; }
	.cars .items2 .item .column2 .dop_items .dop_item { font-size:14px; }
	.cars .items2 .item .column3 .vigoda b { font-size:30px; }
	.cars .items1 { flex-wrap:wrap; justify-content:center; }
	.cars .title1 { padding-bottom:10px; }
	.cars .items1 a { width:auto; padding:5px 40px; margin:0px; margin-left:5px; margin-right:5px;margin-bottom:10px; white-space:nowrap; }
	#filter_table { margin-top:20px; }
	header .row1 .logo1 { order:1; }
	header .row1 .logo2 { order:2; }
	header .row1 .button1 { order:5; }
	header .row1 .phone { order:4; }
	header .row1 .addr { display:none; }

	.block2 .container { flex-wrap:wrap; border:0px; justify-content:space-between;    padding: 0px;
    width: 100%; }
	.block2 .button1 { border:0px; width:49%; margin-bottom:1px; }
	.block3 { margin-bottom:0px; }
	.block4 { background-size: 1000px;     background-position: left center; }
	.block4 .name { color:black; }
	.block4 .container { display:block; }
	.block4 p { margin-top:30px; }
	.block4 center { text-align:left; }

	.block4 .button1.white { border:1px solid #bb162a; }


	.block5 {
	    background: url(../img/block5.bg.jpg) center center no-repeat black;
	    min-height: auto;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    background-size: 1000px;
	    background-position: right center;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    color: white;
	    margin-bottom: 40px;
	}



	.resp_table.tb_complects.resp_table1 td .button1 { min-width:190px; }
	.resp_table.tb_complects.resp_table1 td { width:auto; font-size: 18px; }
	.tb_complects_showmore { margin-top: 0px; padding-top: 0px; }
	.block3 .title1 {
	    margin-top: 0px;
	    padding-top: 0;
	}

.contacts {
    margin: 0px;
    margin-bottom: 20px; background:transparent;
}
.contacts .container {     justify-content: center; }
.contacts .column1 {
    padding: 20px; width:700px;
}
.contacts .column1 .title1 {
    margin: 0px;
    padding: 0px;
}
.map_cont_wrap {
    display: flex;
    flex-direction: column;
}
.contacts .text-wrap { white-space:unset; }
#map1 { order:2; }
.disclamer_switch { padding-top:0px; }
body { padding-bottom:40px; }




}
/*IPAD PRO BEGIN*/

/*IPAD BEGIN*/
@media (min-width: 768px) and (max-width: 991px)
{
	body {background-position: center 170px;}
	#map1 { width:100%; }

	header .row2 .menu { flex-wrap:wrap; justify-content: center; }

	.mobile-button { display:none; }

}
/*IPAD END*/

/*MOBILE BEGIN*/
@media (max-width: 767px)
{
	.resp_table tr{display:block;}
	.resp_table tr th{display:none;}
	.resp_table tr td{width: 100% !important;display:block; border:0px; padding-top:5px; padding-bottom:5px; }
	.resp_table tr td:before{display:inline-block;width:43%;margin-right:2%;font-weight:700;vertical-align:top;}
	.resp_table tr td div {display:inline-block;width: 55%;}
	.resp_table tr .img { padding-top:20px; }
	.resp_table tr .btn
	{
		border-bottom: 2px solid white;
		padding-bottom:20px;
	}
	.resp_table .model { padding-bottom:2px !important; }
	.resp_table .complect
	{ background:none !important; padding-top:2px !important; padding-bottom:17px !important; text-align:left !important; padding:0px !important;  }
	.tb_complects .tr .btn { background: none; padding-top:0px !important; }
}
/*MOBILE END*/




/* Portrait phones and smaller */
@media (max-width: 768px)
{
	a.fancybox-close
	{ right:-9px; }
	.fancybox-slide--html .fancybox-close-small { width:70px; height:70px;  top: -19px; right: -19px;}
	.fancybox-button svg { pointer-events:none; }


	html, body {
	    max-width: 100%;
	    overflow-x: hidden;
	    /*background-size: 200%;*/
	    background-position: center 70px;
		padding-bottom:20px;
		background-size: contain;
	}


	.mobile-button {
		display: block;
		top: 40px;
		right: 22px;
		z-index: 3;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.mobile-button span
	{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #bb162a;
		border-radius: 0px;
		z-index: 3;
		-webkit-transform-origin: 4px 0px;
		transform-origin: 4px 0px;
		transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	.mobile-button span:nth-last-child(2) {
		-webkit-transform-origin: 0% 100%;
		transform-origin: 0% 100%;
	}
	.mobile-button.active span {
		opacity: 1;
		-webkit-transform: rotate(45deg) translate(-10px, -20px);
		transform: rotate(45deg) translate(-10px, -20px) 
		/*background: #232323;*/
	}
	.mobile-button.active span:nth-last-child(3)
	{
		opacity: 0;
		-webkit-transform: rotate(0deg) scale(0.2, 0.2);
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	.mobile-button.active span:nth-last-child(2)
	{
		-webkit-transform: rotate(-45deg) translate(0, 10px);
		transform: rotate(-45deg) translate(0, 10px);
	}



	header .menu
	{
		display: flex !important;
		flex-direction: column;
		position: absolute;
		right: 0px;
		top: 110px;
		width:100% !important;
		background: #f2f2f2;
		width: auto;
		padding-top: 20px;
		z-index: 2;
		padding-bottom: 20px;
		right:-500px;
		transition:all 0.5s;
	}
	header .menu.active
	{right:0px;top: 0px;display: block !important;}
	header .menu a
	{text-align:right;padding-right:15px;font-weight:bold;font-size:18px;line-height: 30px;color: black;}



	#map1 {width:100%;margin-top: 0px;height:300px;order: 2;}


	.popup_container { padding:20px; }

	/*======================================= DOP =============================================*/
	/*======================================= DOP =============================================*/
	/*======================================= DOP =============================================*/



header {}
header .row1 {
    padding: 5px 0px;
}
header .row1 .container {
    flex-wrap: wrap;
}
header .row1 .logo1 {
    margin-bottom: 10px;
}
header .row1 .logo1:before{ content:''; }
header .row1 .logo1:after{ content:''; }
header .row1 .logo1:hover {}
header .row1 .logo1 img {}
header .row1 .logo2 {
    margin-bottom: 10px;
}
header .row1 .logo2:before{ content:''; }
header .row1 .logo2:after{ content:''; }
header .row1 .logo2:hover {}
header .row1 .logo2 img {}
header .row1 .addr.anchor {
    display: none;
}
header .row1 .addr.anchor:before{ content:''; }
header .row1 .addr.anchor:after{ content:''; }
header .row1 .addr.anchor:hover {}
header .row1 .addr.anchor br {}
header .row1 .phone {
    display: none;
}
header .row1 .phone:before{ content:''; }
header .row1 .phone:after{ content:''; }
header .row1 .phone:hover {}
header .row1 .button1 {min-width: 170px;}
header .row1 .button1:before{ content:''; }
header .row1 .button1:after{ content:''; }
header .row1 .button1:hover {}
header .row1 .mobile-button {}
header .row1 .mobile-button:before{ content:''; }
header .row1 .mobile-button:after{ content:''; }
header .row1 .mobile-button:hover {}
header .row1 .mobile-button span {}
header .row2 {}
header .row2 .container {}
header .menu {
	display: none!important;
}
header  .menu .submenu {}
header  .menu .submenu:before{ content:''; }
header  .menu .submenu:after{ content:''; }
header  .menu .submenu:hover {}
header  .menu .anchor {}
header  .menu .anchor:before{ content:''; }
header  .menu .anchor:after{ content:''; }
header  .menu .anchor:hover {}
header .row3 {}
header .row3 .container {}
header .row3 .anchor {}
header .row3 .anchor:before{ content:''; }
header .row3 .anchor:after{ content:''; }
header .row3 .anchor:hover {}


.block1 {
    margin-top: 30%;
    height: auto;
    margin-bottom: 10px;
}
.block1 .container {}
.block1 .title_wrap {padding:20px;background: transparent; padding-left:0px; padding-right:0px;}
.block1 .title_wrap .title1 {font-size: 20px;color: black;}
.block1 .title_wrap .title2 {
    font-size: 20px;
    color: black;
}
.block1 .title_wrap .title2 br {}
.block1 .title_wrap .button1 {
    margin-top: 20px;
    width: 100%;
}
.block1 .title_wrap .button1:before{ content:''; }
.block1 .title_wrap .button1:after{ content:''; }
.block1 .title_wrap .button1:hover {}
.block2 {
    /* margin-top: 281px; */
    background: none;
}
.block2 .container {
    flex-wrap: wrap;
}

.block2 .button1 { margin-bottom:1px; }
.block2 .button1.zvon {}
.block2 .button1.zvon:before{ content:''; }
.block2 .button1.zvon:after{ content:''; }
.block2 .button1.zvon:hover {}
.block2 .button1.gray.obmen {}
.block2 .button1.gray.obmen:before{ content:''; }
.block2 .button1.gray.obmen:after{ content:''; }
.block2 .button1.gray.obmen:hover {}
.block2 .button1.gray.vig_kred {}
.block2 .button1.gray.vig_kred:before{ content:''; }
.block2 .button1.gray.vig_kred:after{ content:''; }
.block2 .button1.gray.vig_kred:hover {}
.block2 .button1.gray.td {}
.block2 .button1.gray.td:before{ content:''; }
.block2 .button1.gray.td:after{ content:''; }
.block2 .button1.gray.td:hover {}
.cars {}
.cars .container {}
.cars .title1 {
    padding-bottom: 10px;
}
.cars .items1 {
    flex-wrap: wrap;
}
.cars .items1 a {
    margin-left: 0px;
    margin-bottom: 2px;
}
.cars .items1:before{ content:''; }
.cars .items1:after{ content:''; }
.cars .items1:hover {}
.cars .items2 {
    margin-top: 50px;
}
.cars .items2 .item {
    flex-wrap: wrap;
    flex-direction: column;
    background-position: right top;
    margin-bottom: 50px;
}
.cars .items2 .item .column1 {
    width: 100%;
}
.cars .items2 .item .column1 .name {}
.cars .items2 .item .column1 .name:before{ content:''; }
.cars .items2 .item .column1 .name:after{ content:''; }
.cars .items2 .item .column1 .name:hover {}
.cars .items2 .item .column1 .image-wrap {}
.cars .items2 .item .column1 .image-wrap:before{ content:''; }
.cars .items2 .item .column1 .image-wrap:after{ content:''; }
.cars .items2 .item .column1 .image-wrap:hover {}
.cars .items2 .item .column1 .image-wrap img {}
.cars .items2 .item .column2 {
    width: 100%;
    border: 0px;
}
.cars .items2 .item .column2 .cost {}
.cars .items2 .item .column2 .cost:before{ content:''; }
.cars .items2 .item .column2 .cost:after{ content:''; }
.cars .items2 .item .column2 .cost:hover {}
.cars .items2 .item .column2 .cost b {}
.cars .items2 .item .column2 .dop_items {}
.cars .items2 .item .column2 .dop_items .dop_item {}
.cars .items2 .item .column2 .dop_items .dop_item:before{ content:''; }
.cars .items2 .item .column2 .dop_items .dop_item:after{ content:''; }
.cars .items2 .item .column2 .dop_items .dop_item:hover {}
.cars .items2 .item .column2 .dop_items .dop_item strong {}
.cars .items2 .item .column2 .dop_items .dop_item b {}
.cars .items2 .item .column3 {
    width: 100%;
}
.cars .items2 .item .column3 .vigoda {
    display: flex;
    align-items: center;
}
.cars .items2 .item .column3 .vigoda span {}
.cars .items2 .item .column3 .vigoda b {
    font-size: 37px;
    margin-left: 5px;
    margin-right: 5px;
}
.cars .items2 .item .column3 .vigoda p {}
.cars .items2 .item .column3 .button1 {}
.cars .items2 .item .column3 .button1:before{ content:''; }
.cars .items2 .item .column3 .button1:after{ content:''; }
.cars .items2 .item .column3 .button1:hover {}
#filter_table {}
#filter_table .select_container {}
.resp_table.tb_complects.resp_table1 {}
.resp_table td { padding:0px !important; width:100% !important; }
.resp_table td .button1 { margin-bottom:20px !important; width:100%; min-width:auto !important; }
.resp_table.tb_complects.resp_table1 .car_soul {}
.resp_table.tb_complects.resp_table1 .car_soul td {}
.resp_table.tb_complects.resp_table1 .car_soul td .model {}
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_soul td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .model {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_rio_x_line td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_ceed {}
.resp_table.tb_complects.resp_table1 .car_ceed td {}
.resp_table.tb_complects.resp_table1 .car_ceed td .model {}
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_ceed td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .model {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_cerato_classic td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .model {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_noviy_cerato td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .model {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_noviy_sportage td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .model {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_sorento_prime td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_sorento {}
.resp_table.tb_complects.resp_table1 .car_sorento td {}
.resp_table.tb_complects.resp_table1 .car_sorento td .model {}
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_sorento td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_optima {}
.resp_table.tb_complects.resp_table1 .car_optima td {}
.resp_table.tb_complects.resp_table1 .car_optima td .model {}
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_optima td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_rio {}
.resp_table.tb_complects.resp_table1 .car_rio td {}
.resp_table.tb_complects.resp_table1 .car_rio td .model {}
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_rio td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_stinger {}
.resp_table.tb_complects.resp_table1 .car_stinger td {}
.resp_table.tb_complects.resp_table1 .car_stinger td .model {}
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_stinger td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_quoris {}
.resp_table.tb_complects.resp_table1 .car_quoris td {}
.resp_table.tb_complects.resp_table1 .car_quoris td .model {}
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_quoris td .button1.blue_blue span {}
.resp_table.tb_complects.resp_table1 .car_mohave {}
.resp_table.tb_complects.resp_table1 .car_mohave td {}
.resp_table.tb_complects.resp_table1 .car_mohave td .model {}
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue {}
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue:before{ content:''; }
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue:after{ content:''; }
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue:hover {}
.resp_table.tb_complects.resp_table1 .car_mohave td .button1.blue_blue span {}
style {}
.tb_complects_showmore {}
.tb_complects_showmore:before{ content:''; }
.tb_complects_showmore:after{ content:''; }
.tb_complects_showmore:hover {}
.block3 {
    margin-bottom: 30px;
}
.block3 .container {}
.block3 .title1 {
    margin-top: 0px;
    padding-top: 0px;
}
.block3 .items {
    flex-wrap: wrap;
}

.block3 .items a {
    width: 49%; margin-bottom:5px;
}
.block3 .items .item1 {
    width: 49%;
}
.block3 .items .item1:before{ content:''; }
.block3 .items .item1:after{ content:''; }
.block3 .items .item1:hover {}
.block3 .items .item1 br {}
.block3 .items .item2 {}
.block3 .items .item2:before{ content:''; }
.block3 .items .item2:after{ content:''; }
.block3 .items .item2:hover {}
.block3 .items .item2 br {}
.block3 .items .item3 {}
.block3 .items .item3:before{ content:''; }
.block3 .items .item3:after{ content:''; }
.block3 .items .item3:hover {}
.block3 .items .item3 br {}
.block3 .items .item4 {}
.block3 .items .item4:before{ content:''; }
.block3 .items .item4:after{ content:''; }
.block3 .items .item4:hover {}
.block3 .items .item4 br {}
.block3 .items .item5 {}
.block3 .items .item5:before{ content:''; }
.block3 .items .item5:after{ content:''; }
.block3 .items .item5:hover {}
.block3 .items .item5 br {}
.block4 {
    background-position: -320px top;
    background-size: 700px;
    color: black;
    padding-top: 185px;
}
.block4 center { width:100%; }
.block4 .container {}
.block4 .title1 {}
.block4 .name {}
.block4 p {
    padding-left: 0px;
    padding-right: 0px;
}
.block4 p br {
    display: none;
}
.block4 .items {
    color: black;
    justify-content: space-between;
}
.block4 .items .item {
    margin-right: 0px;
    color: #bb162a;
}
.block4 .items .item b {
    color: black;
    font-size: 20px;
}
.block4 .items .item br {}
.block4 .items .item b span {
    font-size: 10px;
}
.block4 .button1.white {
    border: 1px solid;
    width: 100%;
}
.block4 .button1.white:before{ content:''; }
.block4 .button1.white:after{ content:''; }
.block4 .button1.white:hover {}
.block5 {
    background-size: 700px;
    background-position: -100px 75px;
    display: block;
}
.block5 .container {
    display: block;
}
.block5 .title1 {}
.block5 .name {
    margin-top: 0px;
    padding-top: 0px;
    color: black;
    display: block;
    font-size: 20px;
}
.block5 .name br {
    display: none;
}
.block5 p {
    margin-top: 195px;
    color: black;
    margin-bottom: 20px;
}
.block5 p br {
    display: none;
}
.block5 p .phone {
    color: black;
}
.block5 p .phone:before{ content:''; }
.block5 p .phone:after{ content:''; }
.block5 p .phone:hover {}
.block5 .button1.white {
    border: 1px solid;
    width: 100%;
}
.block5 .button1.white:before{ content:''; }
.block5 .button1.white:after{ content:''; }
.block5 .button1.white:hover {}
.contacts {
    margin: 0px;
    margin-bottom: 20px;
}
.contacts .container {}
.contacts .column1 {
    width: 100%;
    padding: 20px;
}
.contacts .column1 .title1 {
    margin: 0px;
    padding: 0px;
}
.contacts .column1 .addr {}
.contacts .column1 .worktime {}
.contacts .column1 .phone {}
.contacts .column1 .phone:before{ content:''; }
.contacts .column1 .phone:after{ content:''; }
.contacts .column1 .phone:hover {}
.contacts .column1 br {}
.contacts .column1 .ckiform.popform.flex.wrap {}
.contacts .column1 .ckiform.popform.flex.wrap input {}
.contacts .column1 .ckiform.popform.flex.wrap .form-title {}
.contacts .column1 .ckiform.popform.flex.wrap .form-group {}
.contacts .column1 .ckiform.popform.flex.wrap .form-group label {}
.contacts .column1 .ckiform.popform.flex.wrap .form-group .phone.form-control.nacc {}
.contacts .column1 .ckiform.popform.flex.wrap .flashformsubmit.button1.white {}
.map_cont_wrap {
    display: flex;
    flex-direction: column;
}
.contacts .text-wrap { white-space:unset; }
.disclamer_switch { padding-top:0px; }






}/*=== END_MOBILE ===*/
@media (max-width: 500px) {
	header .row1 .button1 {
		min-width: 213px;
	}
}
@media (max-width: 420px) {
	body {
		background-size: 150%;
	}
	.block2 {
		/* margin-top: 341px; */
	}

	.block1 {
		margin-top: 165px;
	}
}
@media (max-width: 380px)
{
	.block2 {
	    /* margin-top: 281px; */
	}
	.block1 {
	    margin-top: 140px;
	}

}

@media (max-width: 320px)
{
	.title1 {
	    font-size: 19px !important;
	}
.block2 {
    /*margin-top: 211px;*/
}
	.block1 {background-position: -330px 173px;}
	.block2 { background-position: -205px 0px; }
	.block3 .column1 .items {
	    align-items: flex-start;
	}
	.block4 {
	    /* background-size: 601px; */
	    /* background-position: -122px 143px; */
	}

	.block5 .items.vline .item p { font-size: 13px; width: 213px; }
	.block5 .items.vline .item2 p {
	    width: 187px;
	}
	.block5 .items.vline .item3 p {
	    width: 263px;
	}
	.block1 {
	    margin-top: 120px;
	    margin-bottom:10px;
	}
}


@media (max-width: 539px) {
    .cars .items2 .item .column1 .image-wrap img {
        transform: scale(1.5);
    }

    .cars .items2 .item .column1 .name {
        font-size: 22px;
    }
}

































