@import './dom'
@import './fonts'
@import './transitions'

.container
  margin: 0 auto
  max-width: 1140px
  position: relative
  padding: 0px 15px
  @media (min-width: 576px)
    width: 540px
    max-width: 100%
  @media (min-width: 768px)
    width: 720px
    flex-wrap: wrap
  @media (min-width: 992px)
    width: 960px
    max-width: 100%
  @media (min-width: 1200px)
    width: 1140px
    max-width: 100%
    padding: 0

.logo-2
  img
    width: 150px

.btn
  max-width: 100%
  height: 46px
  padding: 2px 10px
  display: inline-flex
  align-items: center
  justify-content: center
  color: white
  font-size: 16px
  font-family: 'MMCOFFICE-Bold'
  white-space: nowrap
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  background: #EB0000
  border: 0px solid white
  text-align: center
  transition: .2s ease
  position: relative
  border-radius: 0px
  cursor: pointer
  &--white
    color: #EB0000
    font-size: 17px !important
    text-transform: uppercase
    background: #FFFFFF
    &:hover
      color: #FFFFFF
      background: transparent !important
      border: 3px solid #FFFFFF
  &:hover
    background: #861020

.red
  color: #EB0000 !important

.gray-bg
  color: #FFFFFF
  background: #979797
  cursor: pointer
  transition: .2s
  &:hover, &:focus, &:active
    background: #5F5E5E

.scroll-blocked
  height: 100%
  overflow: hidden

.no-select
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-drag: none
  -webkit-user-drag: none

.title
  margin: 10px 0 0
  color: #000000
  font-size: 24px
  font-family: 'MMCOFFICE-Bold'
  text-align: center
  text-transform: uppercase
  @media (max-width: 320px)
    font-size: 19px

.zvon
  &:before
    content: ''
    background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAQAAACRZI9xAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJGTSz5ElEAAAA5UlEQVQoz3WSPUtDMRhGT52LFISCi8O1IHUsXBz9WpQOjkKnQqmu7eqqYH+Li1N3/4AuDoqgQieXCo4V5Tgk3t62tydDEjjJ+7whiF1H3rslxQOPDXxZKVZKvpIQuGOff2pssMYPt4ATp+xmZy9VHYus8MaUZpzXOQJgCICD7I6xqYjbfqv6aTfErWbKYSyyqeqJFctBwauoNLIkdffyTSOOVB0ue5dQPXC2XMHTKJ3H/aptd2YV7EfpxgNTX+K6nFew5yLvJrN1WwXS83y41Kd5Z7GDktf+5oyL4j+SOPDBDx/tyB/29GZRxzRn3wAAAABJRU5ErkJggg==) left center no-repeat
    width: 17px
    height: 17px
    display: block
    margin-right: 10px

.obmen
  &:before
    content: ''
    background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJHADvJ0m0AAAA7klEQVQoz9WSL0tDcRhGz+/nLQaHRmFTw8LiPsaCDLQoWERMphmNK/oJZBhtJuv0U1gdiFPQCwpDVFDw3zHcO7cbBKvnrecpz/Mi4qoXLoqTvjiiLdkFYYljABqcss00AoE6TTpsAeCGemvqnboyzIq4p86LoB5Z9dGyJ2oYkyrqskhCjR51SiQ0qCEjZoAPgEgPmAUqwDnjTEAWipD77/xK5A/8NynJa8ilCHwWhAUgBe6BufiTeShIfbq88syADtfZSmV1tzDumnpl6qXaSgC44YAdqpzxRSDwxD4DugCsc1h8jCFvTolN+26KfAM9N56UiEowNgAAAABJRU5ErkJggg==) left center no-repeat
    width: 17px
    height: 17px
    display: block
    margin-right: 10px

.vig_kred
  &:before
    content: ''
    background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPCAQAAACouOyaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJHRNygjkrAAAAqElEQVQoz3XQUZHDMAwEUE0ZlEIohEIolEIotBBKIRRCoRRMwRR6EN59WImTyZ1/pNWsVruO+PNZwbTB2Rc8d8LjhBPqQ3cVpUuWBq3b2ALGTqlYIjwhwgTeR2MFNVVqrtSz9/noxfuUJC6JjGAx+rTu+hsF1ZArV1Iz7JF1yHrvhAGsGfq7Z5tuO2eJiJ94xX8vRedDfz6UBj9xRLbDbdgiDrvmqPQ8v11i+5HyX3GFAAAAAElFTkSuQmCC) left center no-repeat
    width: 17px
    height: 17px
    display: block
    margin-right: 10px

.td
  &:before
    content: ''
    background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfjBxEJHTDQ5UhZAAABNElEQVQoz23RTUuUARQF4DNaY5IwIAlCmxYuBHURjElE2kZo5W+Q/CEFbv0BShC4KwIhS0wS8mMWgS5rFRSBLSrCj0WOOfG0mPcdW3QP3Ms593Lh3hMpMOGZ36BlxZ1Sb5duq2DPkkXvwGuXy4GqumPP9Xe29VlyZNKV9sCapu5O8wIntiVG8eQ/7ZjHrYoXmUlPqpnMTOqppZLT7GcluzlKKzvxBd/N2gcPzDpHw5yf+HoptfzKQAbTlWQs75M08jFnGUh/TnO1K7Us52Y20kryJ+nkzYxnMbVgT8SIzw5MGPfJgTER28QriiOvKeN6cQdbMYLVQpj20CP3C/YU9YgNrUIasmDBcMGaGu1P9rrtm2W9BsENVY/9MKWvNKviDfjwT357YVYbd73UdOjQmXX3Sv0vwgs3p0YKGBsAAAAASUVORK5CYII=) left center no-repeat
    width: 17px
    height: 17px
    display: block
    margin-right: 10px

.rub
  &:before
    content: '\20BD'

.upper
  text-transform: uppercase